@import 'colors';

.thumbnail-view {
  // border: 1px solid;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  // background: $bg-color-thumbnail;
  background: transparent;
  vertical-align: top;
  display: inline-block;
}