@import 'colors';

.detail-view {
  //background: red;
  border: 1px solid;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  background: $bg-color-detail;
  vertical-align: top;

  table, button {
    display: block;
  }

  td {
    border: 1px solid black;
  }
}
