<section>
  <div>
    <button>Details</button>
    <button>Full</button>
    <button>Thumbnails</button>
    <!--<input type="radio" ng-model="imagesCtrl.viewType" ng-click="imagesCtrl.updateView()" value="Details" /> Details
    <input type="radio" ng-model="imagesCtrl.viewType" ng-click="imagesCtrl.updateView()" value="Full" /> Full
    <input type="radio" ng-model="imagesCtrl.viewType" ng-click="imagesCtrl.updateView()" value="Thumbnail" /> Thumbnail-->
  </div>

  <!--Loading indicator...-->
  <div ng-class="imagesCtrl.styles['loader']" ng-if="imagesCtrl.loading">Loading...</div>

  <!--List of images, could be one of three display modes-->
  <div>
    <ui-view></ui-view>
  </div>

  <!--Form to add a new image-->
  <new-image add="imagesCtrl.add"></new-image>
</section>