/* Styling ideas from 
https://bavotasan.com/2011/style-select-box-using-only-css/
*/

:local(.del-btn) {
  background-color: darkred;
  color: white;
}

:local(.selector) {
  width: 240px;
  height: 29px;
  overflow: hidden;
  background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat right #ddd;
  border: 1px solid #ccc;
}

:local(.selector) select {
  -webkit-appearance: none;
  background: transparent;
  width: 240px;
  padding: 5px; /* If you add too much padding here, the options won't show in IE */
  font-size: 16px;
  line-height: 1;
  border: none;
  height: 29px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}