<section>
  <span id="view-selector">
    <label>Select a view:</label>
    <select ng-model="imagesCtrl.tabName" ng-options="tab for tab in imagesCtrl.tabs" ng-change="imagesCtrl.updateView()"></select>
  </span>
  <div ng-repeat="image in imagesCtrl.images">
    <image-detail image="image" ng-show="imagesCtrl.showDetail"></image-detail>
    <image-thumbnail image="image" ng-show="imagesCtrl.showThumbnail"></image-thumbnail>
    <image-full image="image" ng-show="imagesCtrl.showFull" remove="imagesCtrl.remove"></image-full>
    <button ng-click="imagesCtrl.remove(image)">Delete</button>
  </div>
  <new-image add="imagesCtrl.add"></new-image>
</section>