<h2>Albums</h2>

<div id="view-selector">
  <label>Select an album:</label>
  <!--<select 
    ng-class="albumsCtrl.styles['selector']" 
    ng-model="albumsCtrl.currentAlbum" 
    ng-options="album.name for album in albumsCtrl.myAlbums" 
    ng-change="albumsCtrl.updateView()">
  </select>-->
  <ul>
    <li ui-sref="album.images({ id: album._id })" ng-repeat="album in albumsCtrl.myAlbums">{{album.name}} [{{album._id}}]</li>
  </ul>
</div>

<h2>Images</h2>

<images>Choose an album to display images</images>
 