<section ng-class="$ctrl.styles['new-image']">
  <h3>Add a new Image</h3>
  <table>
  <tr>
    <td><label>Title:</label></td>
    <td><input ng-model="$ctrl.title"></td>
  </tr>
  <tr>
    <td><label>Link:</label></td>
    <td><input ng-model="$ctrl.link"></td>
  </tr>
  <tr>
    <td><label>Description:</label></td>
    <td><input ng-model="$ctrl.description"></td>
  </tr>
  <tr>
    <td><label>Album:</label></td>
    <td><input ng-model="$ctrl.album"></td>
  </tr>
  </table>
  <button ng-class="$ctrl.styles['add-btn']" ng-click="$ctrl.addNew()">Add</button>
</section>