.full-view img {
  max-width: 800px;
  width: 100%; }

#view-selector {
  padding: 5px;
  margin: 5px; }

td {
  vertical-align: top;
  padding: 5px; }

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif; }
a {
  border: 2px outset lightgrey;
  text-decoration: none;
  padding: 0.2em;
  background-color: lightgray; }

a.hilite, a:hover {
  background: steelblue;
  color: white; }

img {
  max-width: 200px;
  float: left;
  padding: 5px; }

header, footer {
  display: block; }
.albumtile {
  width: 150px;
  background-color: tan;
  display: inline-block;
  border: 1px black solid;
  padding: 0.5em;
  margin: 0.2em;
  border-radius: 7px; }
  .albumtile .tileActive {
    background-color: darkgreen;
    color: white; }
._2bZcMGysoI3_64C86vASQn {
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  background: beige; }
  ._2bZcMGysoI3_64C86vASQn h3 {
    margin: 2px 0px; }

._3hQlRXeWmlsHlnZ2OZ3qCc {
  background-color: darkgreen;
  color: white;
  font-size: 12pt; }
a {
  border: 2px outset lightgrey;
  text-decoration: none;
  padding: 0.2em;
  background-color: lightgray; }

a.hilite, a:hover {
  background: steelblue;
  color: white; }

header {
  display: block; }

footer {
  display: block; }

nav a {
  border: 2px outset lightgrey;
  text-decoration: none;
  padding: 0.2em;
  background-color: lightgray; }

nav a.hilite, a:hover {
  background: steelblue;
  color: white; }
.detail-view {
  border: 1px solid;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  background: beige;
  vertical-align: top; }
  .detail-view table, .detail-view button {
    display: block; }
  .detail-view td {
    border: 1px solid black; }
.full-view {
  border: 1px solid;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  background: beige;
  vertical-align: top;
  max-width: 800px; }
  .full-view img {
    max-width: 98%; }
.thumbnail-view {
  border: 1px solid;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  background: beige;
  vertical-align: top;
  display: table-cell; }
/* Styling ideas from 
https://bavotasan.com/2011/style-select-box-using-only-css/
*/
._1agfRw03w-VS9Q2LgbAmSS {
  background-color: darkred;
  color: white;
  font-size: 12pt; }

._27ruoPG8Yo5DN7-7yzeXu6 {
  width: 240px;
  height: 29px;
  overflow: hidden;
  background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat right #ddd;
  border: 1px solid #ccc; }

._27ruoPG8Yo5DN7-7yzeXu6 select {
  -webkit-appearance: none;
  background: transparent;
  width: 240px;
  padding: 5px;
  /* If you add too much padding here, the options won't show in IE */
  font-size: 16px;
  line-height: 1;
  border: none;
  height: 29px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }
._1X7MnkLD5WTlhk_X6J5H8W {
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  background: beige; }
  ._1X7MnkLD5WTlhk_X6J5H8W h3 {
    margin: 2px 0px; }

._1NpF_CZdusbYAYZPAJjBHx {
  background-color: darkgreen;
  color: white;
  font-size: 12pt; }

/*# sourceMappingURL=main.css.map*/